body{
  // background:pink;
  background:#fafafa;
}
// 非表示 -for_ タブ
.hidden{
  display:none;
}
// .hide{
//   transform: translateY(-100%);
// }
.brank_div{
  width:100%;
  height:220px;
}


//  テキストスタイル 主にフォーム 説明書き

// // // // // // // // // // // // // // // // // //
// // // // // // // // // // // // // // // // // //
// スマホ向け
// // // // // // // // // // // // // // // // // //
// // // // // // // // // // // // // // // // // //

@media screen and (max-width:559px) {

  //共有テキスト
  .group_d-area h3, .groups h3, .form_group_three h3, .form_post h3,.form_signup_two h2, .form_signin_two h2, .guide_demo-user h2 {
    display: block;
    width:100%;
    height:40px;
    // margin-left: 60px;
    font-size:16px;
    line-height:16px;
    text-decoration: none;
    // border-bottom: solid gray 1px;
  }

  .group_d-area p, .groups p, .form_group_three p, .form_post p,.form_signup_two p, .form_signin_two p, .guide_demo-user p {
    display: block;
    width:100%;
    height:30px;
    margin:0 0 10px 10px;
    color:#777777;
    font-size:12px;
    line-height:16px;
    text-decoration: none;
  }

  //エラーメッセージ
  .em_signin, .em_signup, .em_user-edit, .em_group-create{
    padding:20px 10px 20px;
    color:#ff7777;
  }

}


// // // // // // // // // // // // // // // // // //
// // // // // // // // // // // // // // // // // //
// スマホ以外
// // // // // // // // // // // // // // // // // //
// // // // // // // // // // // // // // // // // //
@media screen and (min-width:560px) {

  //共有テキスト
  .group_d-area h3, .groups h3, .form_group_three h3, .form_post h3,.form_signup_two h2, .form_signin_two h2, .guide_demo-user h2 {
    display: block;
    width:100%;
    height:40px;
    margin-left: 60px;
    font-size:18px;
    line-height:18px;
    text-decoration: none;
    // border-bottom: solid gray 1px;
  }

  .group_d-area p, .groups p, .form_group_three p, .form_post p,.form_signup_two p, .form_signin_two p, .guide_demo-user p {
    display: block;
    width:100%;
    height:30px;
    margin:0 0 20px  70px;
    color:#777777;
    font-size:14px;
    line-height:18px;
    text-decoration: none;
  }

  //エラーメッセージ
  .em_signin, .em_signup, .em_user-edit, .em_group-create{
    padding:20px 10px 20px;
    color:#ff7777;
  }

}