

.edit_content{
  margin:20px 0px;
  padding:20px 40px;
  border:solid #777777 1px;
  overflow: hidden;
  h3{
    display: inline-block;
    font-size:20px;
    margin:0px 15px ;
    padding:5px 5px;
    line-height:26px;
    letter-spacing:0.3px;
    color:#333333;
    font-weight:600;
    vertical-align:baseline;

    & input{
      background: #fafafa00;
      padding:5px 5px;
      border:none;
      border-bottom:solid rgba(148, 151, 155, 0) 1px;
    }
    & input:hover{
      border-bottom:solid rgb(131, 182, 244) 1px;
      transition: all 300ms ease-in 150ms;

    }
  }
  h4{
  display: inline-block;
  font-size:16px;
  margin:0px 15px ;
  padding:5px 5px;
  line-height:26px;
  letter-spacing:0.3px;
  color:#333333;
  font-weight:400;
  vertical-align:baseline;
  border-bottom:solid #eaeaea 1px;
  }
  p{
    display: inline-block;
    font-size:16px;
    padding:5px 5px;
    line-height:26px;
    letter-spacing:0.2px;
    color:#333333;
    font-weight:400;

  }
  .edit_date {
    background: #fafafa;
    position:absolute;
    top:132px;
    right:20%;
  }
  &_upper{
    padding:0 0 5px;
    display:flex;
    justify-content: space-between;
    // border-bottom:solid #f0f0f0 1px;
  }

  &_lower{
    padding:25px 15px 0;

    .edit_text {
      word-break:break-all;
      & textarea{
        width:100%;
        background: #fafafa00;
        border:none;
        padding:10px 10px 40px ;
        border-bottom:solid rgba(148, 151, 155, 0) 1px;
      }
      & textarea:hover{
        border:solid rgb(131, 182, 244) 1px;
        transition: all 300ms ease-in 300ms;
      }
    }
    .edit_image img {
      // max-width: 1024px;
      max-width: 500px;
    }
  }

}

.edit_under_btn{
  background: #fafafa00;

  width:100%;
  display:flex;
  justify-content:center;

  & input{
    display:block;
    width:250px;
    height:40px;
    color:#333333;
    line-height: 40px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-radius: 7px;
    border: solid #333333 0.5px;
    cursor: pointer;
  }
  & input:hover{
    color:#000000;
    border: solid rgb(131, 182, 244) 0.5px;
  }
  & input:active{
    color:#888888;
    border: solid rgb(151, 202, 244) 0.5px;
  }
  & a{
    display:block;
    width:250px;
    height:40px;
    color:#333333;
    line-height: 40px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-radius: 7px;
    border: solid #333333 0.5px;
    cursor: pointer;
  }
  & a:hover{
    color:#000000;
    border: solid rgb(131, 182, 244) 0.5px;
  }
  & a:active{
    color:#888888;
    border: solid rgb(151, 202, 244) 0.5px;
  }
}
