.groups{
  width: 100%;
  display:flex;
}

.groups{
  border:solid rgba(209, 213, 149, 0.1) 1px;
  width:100%;
  // padding:10px;
  padding:10px 0 10px 0;
  margin-bottom: 20px;
  border-radius:1px;
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  // グループ ボタン
  input{
    display:none;
  }
  label{
    display:block;
    background:#888888;
    height: 30px;
    min-width:70px;
    margin:5px 7px 5px 0;
    padding:0 5px 0;

    color:#f0f0f0;
    line-height:30px;
    font-size:16px;
    text-align:center;

    border-radius:6em;
  }
  input:checked + label{
    background:#ff0affb2;
  }
}
.group_radio-btn{
  height: 30px;
  margin:5px 7px 5px 0;
  padding:0 5px 0;

  color:#f0f0f0;
  line-height:30px;
  font-size:18px;
  text-align:center;

  display:flex;
  align-items: center;
  justify-content: center;

  input{
    display:none;
  }
  label{
    background:#888888;
    min-width:70px;
    padding:0 5px 0;
    border-radius:6em;
  }
  input:checked + label{
    background:#ff0affb2;
  }
}


.radio-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-right: 18px;
    border-radius: 3px;
    transition: all .2s;
}

.radio-inline__input:checked + .radio-inline__label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}
// // //
