
.header{
  background:black;
  width: 100%;
  height: 100px;
  padding:0 12% 0;
  position: fixed;
  top:0;
  display:flex;
  justify-content: space-between;
  color:#fff;
  transform: translateY(0%);
  transition: 200ms;
  z-index: 100;
}

.header.hide{
  transform: translateY(-100%);
}

.header h2{
  font-size:2.5em;
}

.header p{
  font-size:1.4em;
}

.logout-btn{
  widows: 100px;
  height: 30px;
}