
.header{
  background:#333333;
  width: 100%;
  height: 100px;
  padding:10px 12% 10px;
  position: fixed;
  top:0;
  line-height:100px;
  color:#fff;
  display:flex;
  justify-content: space-between;
  transform: translateY(0%);
  transition: 200ms;
  z-index: 200;
  overflow: hidden;
  h2 {
    font-size:2.5em;
    line-height: 80px;
  }
  a {
    color:#ffc925;
  }
  p{
    display:inline-block;
    font-size:16px;
  }
}


// スクロールダウンで隠れる
.header.hide{
  transform: translateY(-100%);
}
// スクロールダウンで隠れる



// 右側 nav
.header-right{
  margin: 5% 0 20% 0;
  // width:5%;
  line-height:25px;
  flex-wrap: wrap;
}

.header-right p:nth-child(2),p:nth-child(4){
  color:#ffc925;
  opacity:1;
  cursor: pointer;
}
.header-right p:nth-child(2):active,p:nth-child(4):active{
  color:#ffc925;
  opacity:0.5;
}

.logout-btn{
  // width: 100px;
  height: 30px;
}


// nav

// .header_nav{
//   background: #333333;
//   // width: 100%;
//   height: 100px;
//   padding:10px 12% 10px;
//   position: fixed;
//   top:0;
//   // line-height:100px;
//   color:#fff;
//   display:flex;
//   justify-content: space-between;
//   // transform: translateY(0%);
//   // transition: 200ms;
//   flex-wrap:wrap;
//   height:100px;
//   overflow: hidden;
//   z-index: 100;
// }



// .nav_post{
//   width:100%;
//   height:100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//     &_btn{
//     order: 2;
//     width:33%;
//     font-size:26px;
//     text-align: center;
//     // transform: translatex(0%);
//   }
//   &_text{
//     order: 3;
//     width:33%;
//     font-size:16px;
//     // transform: translatex(0%);
//   }
// }

// .nav_group{
//   width:100%;
//   height:100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//     &_btn{
//     order: 2;
//     width:33%;
//     font-size:26px;
//     text-align: center;
//     // transform: translatex(0%);
//   }
//   &_text{
//     order: 3;
//     width:33%;
//     font-size:16px;
//     // transform: translatex(0%);
//   }
// }

// .nav_signin
//   width:100%;
//   height:100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//     &_btn{
//     order: 2;
//     width:33%;
//     font-size:26px;
//     text-align: center;
//     // transform: translatex(0%);
//   }
//   &_text{
//     order: 3;
//     width:33%;
//     font-size:16px;
//     // transform: translatex(0%);
//   }
// }

// .nav_signup{
//   width:100%;
//   height:100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//     &_btn{
//     order: 2;
//     width:33%;
//     font-size:26px;
//     text-align: center;
//     // transform: translatex(0%);
//   }
//   &_text{
//     order: 3;
//     width:33%;
//     font-size:16px;
//     // transform: translatex(0%);
//   }
// }
