

// .demo1{
//   background: #33333377;
//   position: absolute;
//   // position:fixed;
//   top: 150px;
//   left: 0px;

//   width: 100%;
//   height: 100%;
//   z-index: 600;
// }
// .demo2{
//   background: #33333377;
//   position: absolute;
//   // position:fixed;
//   top: 800px;
//   left: 13%;

//   width: 100%;
//   height: 100%;
//   z-index: 600;
// }

// デモユーザーログイン
.guide_demo-user{
  background: #33333300;
  // position: absolute;
  // position:fixed;
  // top: 800px;
  // left: 13%;

  width: 97%;
  // height: 200px;
  margin: 0px auto 0px;
  margin-top: 65px;
  margin-bottom: 60px;
  padding:40px 20px 80px;
  border-radius:12px;
  border:solid #e7adad 1.5px;

  overflow: hidden;
  word-break: break-all;
  z-index: 600;
}

.go-demo{
  display:inline-block;
  vertical-align: middle;
  // background: #fafafa;
  background: #fafafa;
  width: 75px;
  margin: 0 auto 0;
  margin-top: 0px;
  // margin-bottom: 0px;
  padding: 4px 5px;
  position: absolute;
  left: calc(50% - 32px);
  color: #000000;
  font-size: 20px;
  line-height: 35px;
  border:solid #ff4444 1.5px;
  border-radius: 6px;
  box-shadow:inset 0px 0px 0px 0px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 500ms;
  transform: scale(1);
  // z-index:10;

}

.go-demo:hover{
  background: #f7747400;
  color: #cccccc;
  opacity:0.98;

  box-shadow:inset 0px 0px 12px 20px #ffd4468a;
  border:solid #ffd446 1.5px;
  translate:all ;
  transform: scale(1);
  transition-duration: 100ms;
  // z-index:10;

}
// .go-demo:active{
//   background: #ffffff;
//   // width: 65px;
//   color: #000000;
//   opacity:1;
//   box-shadow:inset 0px 0px 20px -7px #ffffff;
//   border:solid #ffd446 1.5px;
//   translate:all ;
//   // transform: scale(2);
//   transition-duration: 300ms;
//   // z-index:10;
// }
// デモユーザーログインここまで


// フラッシュメッセージ
.flash_one {
  background:#777777aa;
  position: fixed;
  top: 40%;
  left: 3%;

  width: 94%;
  height: 20%;
  z-index:10;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    color:#ffffff;
    font-size: 24px;
    font-weight: 600;

  }
}


// // // // // // // // // // // // // // // // // //
// // // // // // // // // // // // // // // // // //
// スマホ
// // // // // // // // // // // // // // // // // //
// // // // // // // // // // // // // // // // // //


@media screen and (max-width:559px){

  .main_wrap{
    background: #fafafa;
    width:100%;
    height:100%;
    padding: 120px 3% 0px;
    margin:0 auto 0;
  }

}

// // // // // // // // // // // // // // // // // //
// // // // // // // // // // // // // // // // // //
// スマホ以外
// // // // // // // // // // // // // // // // // //
// // // // // // // // // // // // // // // // // //


@media screen and (min-width:559px){

  .main_wrap{
    background: #fafafa;
    width:100%;
    height:100%;
    padding: 120px 12% 0px;
    margin:0 auto 0;
  }

}