.main_wrap{
  width:100vw;
  padding: 100px 12% 0;
  margin:0 auto 0;
  // display:flex;
  // justify-content: center;
}


// tabs

.form_post_tab,.form_signin_tab,.form_signup_tab,.contents_tab{
  // width:100%;
  // width:calc(100% - 40px);
  height:10px;
  // background:rgba(255, 136, 0, 1);
  // border:solid black 2px;
  cursor: pointer;
  text-align: center;

  border-style: solid;
  border-width:2px 0 0px 0px;
  border-color: gray;
  border-radius:1px;
  // float: left;
  // z-index:90;


}

.form_post_tab{
}
.contents_tab{
}

// 左側 線
.form_post_wrap:first-child:before{
  // background: red;
  display:block;

  content:"";
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: gray;

  width:230px ;
  height:108px;
  position: absolute;
  left:calc(12vw + 0px);
  // right:0;
  top:90px;

  // z-index:0;
}
.form_post_wrap:first-child:after{
  // background: red;
  display:block;

  content:"";
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: gray;

  width:64px ;
  height:8px;
  position: absolute;
  left:calc(12vw - 32px);
  // right:0;
  top:100px;

  // z-index:0;
}

// 右側 耳タブ

.form_post_tab:after {
  background: white;
  display:block;

  content: "Post";
  // background: local;

  border-width:2px 2px 2px 2px;
  border-style: solid;
  border-color: gray;
  border-radius:0 10px 16px 0;


  width:32px;
  // height:70px;

  color:#333333;
  writing-mode:vertical-rl;
  text-orientation: upright;
  text-align: right;
  line-height:30px;
  letter-spacing:-2px;
  padding: 10px 0px 10px 0px;

  position: absolute;
  right:calc(12vw - 34px);
  top:110px;

  z-index:1;
}

// contents-tab

.contents_tab:before{
  // background: red;
  display:block;

  content:"";
  border-width: 0px 0px 0px 2px;
  border-style: solid;
  border-color: gray;

  width:32px ;
  height:343px;
  position: absolute;
  right:calc(12vw - 32px);
  // right:0;
  top:100px;

  // z-index:0;
}

.contents_tab:after {
  background: white;
  display:block;

  content: "Contents";
  // background: local;

  border-width:2px 2px 2px 2px;
  border-style: solid;
  border-color: gray;
  border-radius:0 10px 16px 0;

  width:32px;
  // height:70px;

  color:#333333;
  writing-mode:vertical-rl;
  text-orientation: upright;
  text-align: right;
  line-height:30px;
  letter-spacing:-2px;
  padding: 10px 0px 10px 0px;

  position: absolute;
  right:calc(12vw - 34px);
  top:204px;

  z-index:1;
}


// 左側 線
.form_signin_wrap:first-child:before{
  // background: red;
  display:block;

  content:"";
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: gray;

  width:230px ;
  height:108px;
  position: absolute;
  left:calc(12vw + 0px);
  // right:0;
  top:90px;

  // z-index:0;
}


.form_signin_wrap:first-child:after{
  // background: red;
  display:block;

  content:"";
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: gray;

  width:64px ;
  height:8px;
  position: absolute;
  left:calc(12vw - 32px);
  // right:0;
  top:100px;

  // z-index:0;
}

// 右側 耳タブ

.form_signin_tab:after {
  background: white;
  display:block;

  content: "Sign＊in";
  // background: local;

  border-width:2px 2px 2px 2px;
  border-style: solid;
  border-color: gray;
  border-radius:0 10px 16px 0;

  width:32px;
  // height:70px;

  color:#333333;
  writing-mode:vertical-rl;
  text-orientation: upright;
  text-align: right;
  line-height:30px;
  letter-spacing:-2px;
  padding: 10px 0px 10px 0px;

  position: absolute;
  right:calc(12vw - 34px);
  top:110px;

  z-index:1;
}

// contents-tab

.form_signup_tab:before{
  // background: red;
  display:block;

  content:"";
  border-width: 0px 0px 0px 2px;
  border-style: solid;
  border-color: gray;

  width:32px ;
  height:343px;
  position: absolute;
  right:calc(12vw - 32px);
  // right:0;
  top:100px;

  // z-index:0;
}

.form_signup_tab:after {
  background: white;
  display:block;

  content: "Sign＊up";
  // background: local;

  border-width:2px 2px 2px 2px;
  border-style: solid;
  border-color: gray;
  border-radius:0 10px 16px 0;

  width:32px;
  height:110px;

  color:#333333;
  writing-mode:vertical-rl;
  text-orientation: upright;
  text-align: right;
  line-height:30px;
  letter-spacing:-2px;
  padding: 10px 0px 20px 0px;

  position: absolute;
  right:calc(12vw - 34px);
  top:260px;

  z-index:1;
}

