// BlogPost (投稿フォーム)

// 現状このwrapは擬似要素による線の描画用
.form_post_one{
}

.form_post{
  &_two{

    // margin:20px 0 0px;
  }
  &_three{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: #ffffff;
    box-shadow: 0px 0px 2px 2px #fcfcfc inset;

    width: calc(42vw - 40px);
    margin:0 auto 0;
    padding:20px 20px;

    & h2{
      display:block;
      width:calc(30vw + 50px);

      height:60px;
      margin:0 auto 0;
      margin-bottom: 40px;

      color:#333333;
      font-size:18px;
      text-align: center;
      line-height: 60px;
      font-weight: 600;

      border-width:2px 0px 2px 0px;
      border-style: solid;
      border-color: gray;
    }
  }
}

.form_post{
  width:100%;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}

.form_post form{
  // display: block;
  width:100%;
  // z-index:100;
}

.form_post_form-title{
  display: block;
  // width:calc(80%-32px);

}
input.form_post_title{
  // background: #f88d129d;
  background: #ffffff77;
  width:100%;
  height:32px;
  padding: 10px;
  line-height: 1.4em;
  // border: none;
}

input.form_post_content{
}

.form_post textarea{
  background: #ffffff77;
  width:100%;
  height:160px;
  padding: 10px;
  line-height: 1.4em;
  // border: none;
}

.form_post_image{
  display:flex;
  justify-content: center;
}


.form_post_mask_image{
  background: #ffffff77;
  width: 100%;
  color:#000000;
  text-align: center;
}

.form_post_mask_image .icon{
  color:#000000;
  font-size: 2em;
  line-height: 40px;
  vertical-align: center;
  cursor: pointer;
  &:hover{
    color:#777777;
    font-size: 2.1em;
  }
}

.form_post_submit-btn{
  width:100%;
  display:flex;
  justify-content:center;

  button.form_post_submit{
    // display: block;
    background: #ffffff77;
    width:100%;
    height:40px;
    // margin:0 auto;
    line-height: 40px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    // border: none;
    cursor: pointer;
  }
  button.form_post_submit:hover{
    background: rgb(179, 213, 255);
    font-size: 18.5px;
  }
  button.form_post_submit:active{
    background: rgb(94, 166, 255);
    font-size: 18.5px;
  }
}


// .form_post_two:after{
//   content:"";
//   display: block;
//   width:100%;
//   border-bottom:solid #f0f0f0 1px;
//   padding:40px 0 20px;

// }


.form_post_two:after{
  content:"";
  display: block;
  width:100%;
  height:0px;
  border-bottom:solid #f0f0f0 2px;
  box-shadow: 0px 1px 1px 1px #dddddd ;
  margin-top:40px;
}