// ユーザー・新規登録/ログインフォーム

.form_signin{
  &_one{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &_two{
    width: 34vw;
    margin:20px 0 0px;
    h2{
      width:100%;
      height:60px;
      // padding: 2px;
      margin:0px 0px 40px;

      color:#333333;
      font-size:18px;
      text-align: center;
      line-height: 60px;
      font-weight: 600;

      border-width:2px 0px 2px 0px;
      border-style: solid;
      border-color: gray;
    }
  }
}

.field{
  input{
  // padding:0 10px 0 10px;
  width:100%;
  height:30px;
  border: solid #e5e5e5 0.5px;
  margin: 10px 0 20px;
  }
}

.form_signup{
  &_one{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &_two{
    width: 34vw;
    margin:20px 0 40px;
    h2{
      width:100%;
      height:60px;
      // padding: 2px;
      margin:0px 0px 40px;

      color:#333333;
      font-size:18px;
      text-align: center;
      line-height: 60px;
      font-weight: 600;

      border-width:2px 0px 2px 0px;
      border-style: solid;
      border-color: gray;
    }
  }
}

.form_signin_two:after{
  content:"";
  display: block;
  width:100%;
  border:solid #efefef 1px;
  margin-top:40px;

}
.form_signup_two:after{
  content:"";
  display: block;
  width:100%;
  border:solid #f0f0f0 1px;
  margin-top:40px;
}

.sign_btn{
  input {
    background: #ffffff77;
    width:100%;
    height:40px;

    margin:20px 0 0 0;
    line-height: 40px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-radius: 7px;
    border: solid #333333 0.5px;
    cursor: pointer;
  }
  input:hover{
    background: rgba(179, 213, 255, 0.6);
    font-size: 18px;
  }
  input:active{
    background: rgb(131, 182, 244);
    color:#ffffff;
    font-size: 18.5px;
  }
}

@media screen and (max-width:559px){

  .form_signin_two{
    width: 70%;
    margin:20px 0 0px;
  }
  .form_signup_two{
    width: 70%;
    margin:20px 0 40px;
  }

}
// @media screen and (min-width:560px){

// }



