
.show_content{
  margin:20px 0px;
  padding:15px 0px;
  border:solid #777777 1px;
  overflow: hidden;
  h3{
    display: inline-block;
    font-size:20px;
    // margin:0px 15px ;
    padding:5px 5px;
    line-height:26px;
    letter-spacing:0.3px;
    color:#333333;
    font-weight:600;
    vertical-align:baseline;
    border-bottom:solid #eaeaea 1px;
  }
  h4{
  display: inline-block;
  font-size:16px;
  // margin:0px 15px ;
  padding:5px 5px;
  line-height:26px;
  letter-spacing:0.3px;
  color:#333333;
  font-weight:400;
  vertical-align:baseline;
  border-bottom:solid #eaeaea 1px;
  }
  p{
    display: inline-block;
    font-size:16px;
    padding:5px 5px;
    line-height:26px;
    letter-spacing:0.2px;
    color:#333333;
    font-weight:400;
  }
  .show_date {
    background: #fafafa;
    position:absolute;
    top:122px;
    right:20%;
  }
  &_upper{
    padding:0 20px 0;
    // margin:0 0 0 0;
    display:flex;
    justify-content: space-between;
    // border-bottom:solid #f0f0f0 1px;

    &:before{
      content:"";
      display: block;
      width:72%;
      height:3px;
      position: absolute;
      top:210px;
      left:12%;

      background: #ffffff00;
      border-bottom:solid #333333 1px;
      border-top:solid #333333 1px;
      // transform: rotate(-0.5deg);
    }
    // &:after{
    //   content:"";
    //   display: block;
    //   width:17%;
    //   position: absolute;
    //   top:212px;
    //   left:58%;

    //   background: #ffffff00;
    //   border-bottom:solid #333333 1px;

    //   transform: rotate(11deg);
    // }
  }

  &_lower{
    padding:35px 20px 5px;

    .show_text {
      word-break:break-all;
    }
    .show_image img {
      // max-width: 1024px;
      max-width: 500px;
    }
  }
}

.show_under_btn{
  background: #fafafa00;

  width:100%;
  display:flex;
  justify-content:center;

  & a{
    width:250px;
    height:40px;
    margin:40px 40px;
    color:#333333;
    line-height: 40px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-radius: 7px;
    border: solid #333333 0.5px;
    cursor: pointer;
  }
  & a:hover{
    color:#000000;
    border: solid rgb(131, 182, 244) 0.5px;
  }
  & a:active{
    color:#888888;
    border: solid rgb(171, 222, 244) 0.5px;
    transition: all 200ms ease-out 30ms;
  }
}